@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap');

// General Typography / Globals
@import "typography.scss";

/* Extra small devices (phones, < 768px) */
@media only screen and (max-width: 991px) {
	@import "mobile/header.scss";
	@import "mobile/main.scss";
	@import "mobile/footer.scss";
}

/* Small devices (tablets (vertical), >= 768px) */
//@media only screen and (min-width: 768px) {...}

/* Medium devices (tablets (horizontal) and small desktops, >= 992px) */
@media only screen and (min-width: 992px) {
	@import "desktop/header.scss";
	@import "desktop/main.scss";
	@import "desktop/footer.scss";
}

/* Large devices (desktops, >= 1200px) */
//@media only screen and (min-width: 1200px) {...}

* {
	margin: 0;
	padding: 0;
	// box-sizing: border-box;
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}