footer {
    background-color: rgb(178, 204, 236);
    display: block;
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin: 0 auto;
    p {
        margin: 0 auto;
        width: 30rem;
        text-align: center;
        font-size: 0.75rem;
    }
}