@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&display=swap");
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.4;
}

h1,
h2,
h4 {
  margin-top: 0;
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 2.8rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
}

ul {
  font-size: 1.2rem;
}

/* Extra small devices (phones, < 768px) */
@media only screen and (max-width: 991px) {
  header {
    position: fixed;
    display: flex;
    min-height: 5.5rem;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #b2ccec;
  }
  header aside {
    height: fit-content;
    width: fit-content;
  }
  header aside .logo-text {
    font-style: italic;
    font-family: sans-serif, helvetica, verdana;
    font-size: 2.625rem;
    margin: 0;
  }
  header aside .logo-text-desc {
    font-style: italic;
    font-family: "PT Sans", sans-serif;
    font-size: 1.1rem;
  }
  header button {
    position: absolute;
    right: 0;
    padding: 1.7rem;
    border: none;
    background-color: transparent;
  }
  header button img {
    width: 1.75rem;
    height: 2rem;
  }
  header button.showMenu {
    background-color: rgba(0, 0, 0, 0.2);
  }
  header button:hover {
    cursor: pointer;
  }
  header button:focus {
    outline: none;
  }
  header nav {
    display: none;
    position: absolute;
    top: 5.5rem;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    color: #b2ccec;
  }
  header nav ul li {
    list-style: none;
    font-family: "PT Sans", sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: right;
    text-transform: uppercase;
  }
  header nav ul li:hover {
    cursor: pointer;
    background-color: #b2ccec;
  }
  header nav ul li:hover a {
    color: black;
  }
  header nav ul li a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 1rem;
    color: #b2ccec;
  }
  header nav ul li a.selected {
    color: red;
  }

  /* Hem */
  #hem {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-image: url("../images/apartments-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #hem div {
    margin: auto;
    width: 100%;
    padding: 0.7%;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    color: white;
    background-color: black;
  }
  #hem div h2 {
    margin-bottom: 1rem;
  }
  #hem div h3 {
    font-size: 1.755rem;
  }

  /* Tjänster */
  #tjanster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-image: url("../images/window.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  #tjanster h2 {
    margin-top: 5.5rem;
    padding-left: 2.5rem;
    width: fit-content;
    font-family: "PT Sans", sans-serif;
  }
  #tjanster article {
    padding: 2.5rem;
    padding-top: 0;
    font-family: "PT Sans", sans-serif;
  }
  #tjanster article ul li {
    list-style-position: outside;
    margin-left: 1em;
  }

  /* Om */
  #om {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: black;
    color: white;
  }
  #om div {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: 0 2.5rem;
    margin: auto;
    margin-top: 5.5rem;
    box-sizing: border-box;
  }
  #om div h2 {
    font-family: "PT Sans", sans-serif;
  }
  #om div article {
    font-family: "PT Sans", sans-serif;
    text-align: left;
  }
  #om img {
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 20rem;
  }

  /* Kontakt */
  #kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-image: url("../images/window.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  #kontakt address {
    width: 100%;
    height: fit-content;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    font-style: normal;
  }
  #kontakt address p {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  #kontakt iframe {
    border: none;
    margin: 0 auto;
    margin-top: 1rem;
    width: 100%;
    height: 30rem;
    padding: 1rem 0;
  }
  #kontakt h2 {
    margin-top: 5.5rem;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    font-style: normal;
    margin-bottom: 0;
  }
  #kontakt h3 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  #kontakt a {
    text-decoration: none;
    color: #0000EE;
  }

  footer {
    display: flex;
    width: 100%;
    height: 4.375rem;
    background-color: #b2ccec;
  }
  footer p {
    margin: auto;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 1rem;
    font-family: "PT Sans", sans-serif;
  }
}
/* Small devices (tablets (vertical), >= 768px) */
/* Medium devices (tablets (horizontal) and small desktops, >= 992px) */
@media only screen and (min-width: 992px) {
  header {
    position: fixed;
    display: flex;
    min-height: 7.5rem;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #b2ccec;
  }
  header aside {
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    margin-left: 5rem;
  }
  header aside .logo-text {
    font-style: italic;
    font-family: sans-serif, helvetica, verdana;
    font-size: 2.625rem;
    margin: 0;
  }
  header aside .logo-text-desc {
    font-style: italic;
    font-family: "PT Sans", sans-serif;
    font-size: 1.1rem;
  }
  header #toggle-menu-button {
    display: none;
  }
  header nav {
    margin-right: 7rem;
    width: fit-content;
    height: fit-content;
  }
  header nav ul li {
    display: inline;
    margin: 0 0.9rem;
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  header nav a.selected {
    color: red;
  }

  /* Hem */
  #hem {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-image: url("../images/apartments-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #hem div {
    margin: auto;
    width: 100%;
    padding: 0.7%;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    color: white;
    background-color: black;
  }
  #hem div h2 {
    margin-bottom: 1rem;
  }
  #hem div h3 {
    font-size: 1.755rem;
  }

  /* Tjänster */
  #tjanster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-image: url("../images/window.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  #tjanster h2 {
    margin-left: 10%;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    width: fit-content;
    font-family: "PT Sans", sans-serif;
  }
  #tjanster article {
    margin-left: 10%;
    width: 30rem;
    padding: 2.5rem;
    padding-top: 0;
    font-family: "PT Sans", sans-serif;
  }
  #tjanster article ul li {
    list-style-position: outside;
    margin-left: 1em;
  }

  /* Om */
  #om {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 2rem;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: black;
    color: white;
  }
  #om div {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: 0 2.5rem;
  }
  /* Kontakt */
}
@media only screen and (min-width: 992px) and (max-width: 1056px) {
  #om div {
    margin-top: 7.5rem;
  }
}
@media only screen and (min-width: 992px) {
  #om div h2 {
    font-family: "PT Sans", sans-serif;
  }
}
@media only screen and (min-width: 992px) {
  #om div article {
    width: 27rem;
    font-family: "PT Sans", sans-serif;
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  #om img {
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 20rem;
  }
}
@media only screen and (min-width: 992px) {
  #kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-image: url("../images/window.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
@media only screen and (min-width: 992px) {
  #kontakt h2 {
    margin-left: 10%;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    width: fit-content;
    font-family: "PT Sans", sans-serif;
  }
}
@media only screen and (min-width: 992px) {
  #kontakt h2 {
    margin-top: 7.5rem;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    font-style: normal;
  }
}
@media only screen and (min-width: 992px) {
  #kontakt address {
    margin-left: 10%;
    width: 40rem;
    padding: 2.5rem;
    padding-top: 0;
    height: fit-content;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
  }
}
@media only screen and (min-width: 992px) {
  #kontakt address p {
    margin-bottom: 0;
    font-weight: bold;
  }
}
@media only screen and (min-width: 992px) {
  #kontakt address a {
    display: inline-block;
    margin-bottom: 1.4rem;
    text-decoration: none;
    color: #0000EE;
  }
}
@media only screen and (min-width: 992px) {
  footer {
    display: flex;
    width: 100%;
    height: 6.375rem;
    background-color: #b2ccec;
  }
}
@media only screen and (min-width: 992px) {
  footer p {
    margin: auto;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: 1rem;
    font-family: "PT Sans", sans-serif;
  }
}
/* Large devices (desktops, >= 1200px) */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
