$pt-helvetica: sans-serif,
helvetica,
verdana;
$pt-sans: 'PT Sans',
sans-serif;
$pt-serif: 'PT Serif',
serif;

$header-height: 7.5rem;
$header-height-mobile: 5.5rem;
$footer-height: 6.375rem;
$footer-height-mobile: 4.375rem;

$NAED-blue: rgb(178, 204, 236);

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

html {
	font-size: 100%;
}

body {
	line-height: 1.4;
}

h1,
h2,
h4 {
	margin-top: 0;
}

h1 {
	font-size: 2.6rem;
	margin-bottom: 2.8rem;
}

h2 {
	font-size: 2.5rem;
	margin-bottom: 1.4rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1.4rem;
	margin-bottom: 0;
}

p {
	margin-top: 0;
	margin-bottom: 1.4rem;
	font-size: 1.2rem;
}

ul {
	font-size: 1.2rem;
}