header {
    display: inline-block;
    position: fixed;
    height: 7.5rem;
    width: 100%;
    background-color: rgb(178, 204, 236);
    //background-color: rgb(55, 55, 55);
    aside {
        display: block;
        padding: 1.25rem;
        height: 4rem;
        #logo-text {
            //color: white;
            text-align: center;
            font-style: italic; 
            font-family: $pt-sans;
            font-size: 2.625rem;
            margin: 0;
        }
        #logo-text-desc {
            //color: white;
            text-align: center;
            font-style: italic; 
            font-family: $pt-sans;
            font-size: 0.75rem;
        }
    }
}

.header-nav {
    display: none;
    position: absolute;
    top: 4rem;
    right: 10rem;
    ul {
        li {
            /*
            a {
                color: white;
            }
            */
            padding: 0.5rem;
            display: inline;
        }
    }
    a {
        &.selected {
            color: red;
        }
    }
}