main {
    // padding-top: $header-height;
}

/* Hem */
#hem {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: fit-content;

    background-image: url("../images/apartments-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    div {
        margin: auto;
        width: 100%;
        padding: 0.7%;

        font-family: $pt-sans;
        text-align: center;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        font-size: 1.5rem;

        h2 {
            margin-bottom: 1rem;
        }
    }
}

/* Tjänster */
#tjanster {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: fit-content;

    background-image: url("../images/window.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; // This is what makes the background image rescale based on the container's size

    article {
        margin: auto;
        margin-left: 10%;
        width: 30rem;
        padding: 2.5rem;

        font-family: $pt-sans;
        ul li {
            list-style-position: outside;
            margin-left: 1em;
        }
    }
}

/* Om */
#om {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: fit-content;

    background-color: black;
    color: white;

    div {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 90%;
    }
    article {
        margin: auto;
        width: 27rem;
        padding: 0 2.5rem;

        font-family: $pt-sans;
        font-size: 1.5rem;
        text-align: left;
    }
    img {
        margin: auto;
        box-sizing: border-box;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 20rem;
    }
}

/* Kontakt */
#kontakt {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: fit-content;

    background-image: url("../images/NAED-Byggkonsult-2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    // background-size: 100% 100%;

    address {
        margin: $header-height auto 1rem;
        width: 40rem;
        // padding: 2.5rem;

        font-family: $pt-sans;
        text-align: center;
        font-style: normal;
    }
    iframe {
        margin: 0 auto;
        width: 100%;
        height: 30rem;
        padding: 1rem 0;
    }
    h2 {
        font-style: normal;
    }
    h3 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
    a {
        text-decoration: none;
        color: #0000EE;
    }
}