/* Hem */
#hem {
	display: flex;
	width: 100%;
	min-height: 100vh;
	height: fit-content;

	background-image: url("../images/apartments-background.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover; // This is what makes the background image rescale based on the container's size

	div {
		margin: auto;
		width: 100%;
		padding: 0.7%;

		font-family: $pt-sans;
		text-align: center;
		color: rgb(255, 255, 255);
		background-color: rgb(0, 0, 0);

		h2 {
			margin-bottom: 1rem;
		}

		h3 {
			font-size: 1.755rem;
		}
	}
}

/* Tjänster */
#tjanster {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	height: fit-content;

	background-image: url("../images/window.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	h2 {
		margin-left: 10%;
		padding-top: 2.5rem;
		padding-left: 2.5rem;
		width: fit-content;
		font-family: $pt-sans;
	}

	article {
		margin-left: 10%;
		width: 30rem;
		padding: 2.5rem;
		padding-top: 0;
		font-family: $pt-sans;

		ul li {
			list-style-position: outside;
			margin-left: 1em;
		}
	}
}

/* Om */
#om {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 0 2rem;
	width: 100%;
	min-height: 100vh;
	height: fit-content;

	background-color: black;
	color: white;

	div {
		display: flex;
		flex-direction: column;
		max-width: 90%;
		padding: 0 2.5rem;

		@media only screen and (max-width: 1056px) {
			margin-top: $header-height;
		}

		h2 {
			font-family: $pt-sans;
		}

		article {
			width: 27rem;
			font-family: $pt-sans;
			text-align: left;
		}
	}

	img {
		box-sizing: border-box;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 20rem;
	}
}

/* Kontakt */
#kontakt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	height: fit-content;

	background-image: url("../images/window.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	h2 {
		margin-left: 10%;
		padding-top: 2.5rem;
		padding-left: 2.5rem;
		width: fit-content;
		font-family: $pt-sans;
	}

	h2 {
		margin-top: $header-height;
		font-family: $pt-sans;
		text-align: center;
		font-style: normal;
	}

	address {
		margin-left: 10%;
		width: 40rem;
		padding: 2.5rem;
		padding-top: 0;
		height: fit-content;

		font-family: $pt-sans;
		font-style: normal;

		p {
			margin-bottom: 0;
			font-weight: bold;
		}
		
		a {
			display: inline-block;
			margin-bottom: 1.4rem;
			text-decoration: none;
			color: #0000EE;
		}
	}
}